main{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   background-color: aquamarine;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
  


}
form {
    width: 400px;
   height: 500px;
   border: solid;
   background-color: bisque;
   

   
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}
.div1{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.div2{
    display: flex;
    justify-content: space-between;
    width: 300px;


}
a{
    text-decoration: none;
}
 
.sign {
    color: rgb(239, 238, 240);
    background-color: rgb(13, 93, 240);
    width: 300px;
    height: 30px;
    
    align-items: center;
   
}
.footer {
    display: flex;
    justify-content: center;
}


